<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel='stylesheet' href='css/styles.css'/>
    </head>
    <body>
        <div class=main-content>
            {{>header}}
            <p>This site is created by {{name}}, It fetches data from weatherstack.com.</p>
            <img src="img/img1.jpg" class="portrait"/>
        </div>
        {{>footer}}
    </body>
</html>